# Basierend auf LLVM, aber stark angepasst
BasedOnStyle: LLVM

# Einrückung
IndentWidth: 2
ContinuationIndentWidth: 2
UseTab: Never

# Zeilenlänge
ColumnLimit: 80

# Klammern-Stil
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

# Argumente und Parameter
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: AlwaysBreak
PenaltyBreakBeforeFirstCallParameter: 100

# Operatoren und Ausrichtung
AlignOperands: false
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
BreakBeforeBinaryOperators: None

# Kommentare und Strings
PenaltyBreakComment: 300
PenaltyBreakString: 1000

# Leerzeichen
SpacesInParentheses: false
SpaceBeforeParens: ControlStatements
SpaceBeforeAssignmentOperators: true

# Includes
SortIncludes: true
IncludeBlocks: Preserve

# Sonstiges
Cpp11BracedListStyle: false
